<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Company History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="history-content ion-padding">
  <div class="history-card">
    <h2>Our Story</h2>
    <p>
      Amouré Perfume was founded with a passion for elegance and individuality.
      Each fragrance is crafted to express emotion, confidence, and timeless
      beauty.
    </p>
    <p>
      Our journey began with a single scent and has blossomed into a collection
      inspired by love, luxury, and creativity.
    </p>
    <ion-button expand="block" fill="solid" color="tertiary" routerLink="/home"
      >Back to Home</ion-button
    >
  </div>
</ion-content>
