<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="about-content ion-padding">
  <div class="card">
    <h2>About Amouré</h2>
    <p>
      Amouré celebrates elegance and individuality through thoughtfully crafted
      fragrances. Each scent is designed to elevate your presence and mood.
    </p>
  </div>
</ion-content>
